body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.edit{
  width: 24px;
  height: 21px;
  margin-left: 1450px;
}

.border-top-01{
  width: 500px;
  margin: 10px;
  font-size: 15px;
  color: black;
  background-color: lightslategrey;
  border-style: groove;
}

.border-top-02{
  width: 80px;
  margin: 10px;
  font-size: 15px;
  color: black;
  background-color: lightslategrey;
  border-style: groove;
}

.border-top-03{
  width: 90px;
  margin: 10px;
  font-size: 15px;
  color: black;
  background-color: lightslategrey;
  border-style: groove;
}

.border-top-04{
  width: 250px;
  margin: 10px;
  font-size: 15px;
  color: black;
  background-color: lightslategrey;
  border-style: groove;
}

.border-top-05{
  width: 60px;
  margin: 10px;
  font-size: 15px;
  color: black;
  background-color: lightslategrey;
  border-style: groove;
}

.border-top-06{
  width: 420px;
  margin: 10px;
  font-size: 15px;
  color: black;
  background-color: lightslategrey;
  border-style: groove;
}

.border-top-07{
  width: 100px;
  margin: 10px;
  font-size: 15px;
  color: black;
  background-color: lightslategrey;
  border-style: groove;
}

.card-header{
  height: 80px;
  width: 1560px;
  font-size: 50px;
  text-align: center;
  background-color: #8DD2F5;
  font-style: italic;
  margin-left: 5px;
  color: white;
  border-style: groove;
}

.placeholder{
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  color: black;
}

.placeholder01{
  border-style: solid;
  border-width: 1px;
  font-size: 17px;
  color: black;
}

.placeholder02{
  border-style: solid;
  border-width: 1px;
  font-size: 17px;
  color: black;
}

.placeholder03{
  border-style: solid;
  border-width: 1px;
  font-size: 17px;
  color: black;
}

.placeholder04{
  border-style: solid;
  border-width: 1px;
  font-size: 17px;
  color: black;
}

.placeholder05{
  border-style: solid;
  border-width: 1px;
  font-size: 17px;
  color: black;
}

.placeholder06{
  border-style: solid;
  border-width: 1px;
  font-size: 17px;
  color: black;
}

.text-danger{
  font-size: 20px;
  text-align: center;
  color: red;  
}

.home-image{
  width: 150px;
  padding-right: 30px;
  padding-left: 15px;
}

.geral-header{
  display: grid;
  align-items: center;
  background-color: white;
  width: 1600px;
  height: 100px;
  color: #87CEFA;
}

.title-geral{
  position: absolute;
  font-size: 1.0em;
  padding-right: 400px;
  font-style: italic;
}

.marca{
  position: absolute;
  color: #000;
  padding-left: 1380px;
  padding-bottom: 50px;
  font-size: 17px;
  font-style: bold;
}

.exit{
  padding-left: 12px;
  color: #FF3630;
  font-size: 16px;
}